{% extends "settings/base.html" %}
{% load static %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
    <h1 class="h4 mb-3">Personal Information</h1>
    <div class="d-flex flex-wrap gap-4 mb-5">
        <a href="{% url 'users:upload_photo' %}" class="text-primary text-decoration-none">Upload Photo</a>
        <a href="{% url 'users:read_profile' %}" class="text-secondary text-decoration-none">Edit Profile</a>
        <a href="{% url 'users:read_country' %}" class="text-primary text-decoration-none">Country/Region</a>
        <a href="#" class="text-danger text-decoration-none">Delete Account</a>
    </div>

    <div class="container mt-5">
        <div class="card shadow-sm rounded p-4">
            <h2 class="h5 mb-4">Profile Information</h2>
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name }}
                    </div>
                    <div class="col-md-6">
                        {{ user_form.last_name.label_tag }}
                        {{ user_form.last_name }}
                    </div>
                </div>

                <div class="mb-3">
                    {{ user_form.username.label_tag }}
                    {{ user_form.username }}
                </div>

                <div class="mb-3">
                    {{ profile_form.phone.label_tag }}
                    {{ profile_form.phone }}
                </div>

                <div class="mb-3">
                    {{ profile_form.address.label_tag }}
                    {{ profile_form.address }}
                </div>

                <div class="mb-3">
                    {{ profile_form.date_of_birth.label_tag }}
                    {{ profile_form.date_of_birth }}
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>

        </div>
    </div>
{% endblock %}