<header class="main-header">
    <div class="container">
        <a href="{% url 'users:home' %}" class="logo">SHALLION</a>
        <nav class="main-nav">
            <div class="nav-links">
                <a href="">Shop</a>
                <a href="">Food</a>
                {% if user.is_superuser %}<a href="{% url 'products:list_catalogs' %}">Catalogs</a>{% endif %}
                {% if user.is_superuser %}<a href="{% url 'products:list_products' %}">Products</a>{% endif %}
                <a href="{% url 'users:account' %}">
                    Account
                </a>
                <a href="">Help</a>
            </div>
            <div class="nav-actions">
                <a href="" class="cart-link">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count">0</span>
                </a>
            </div>
        </nav>
    </div>
</header>